<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.bikeexchange">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/bike_exchange_logo_mini_2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeExchange"
        android:fullBackupOnly="true"
        android:allowBackup="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8953140986335556~8008525640"/>

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="fullSensor"/>

        <activity android:name=".SingleCategoryActivity"
            android:screenOrientation="fullSensor"
            />

        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/WelcomeTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BikeDetailsActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainActivity">
        </activity>

    </application>
</manifest>